footer {
	text-align: center;
	margin-top: 4%;
	p {
		font-style: italic;
        margin: 0 auto;
		font-family: $headingFont;
		line-height: 1;
		font-size: calc(1.2rem + (16 - 12) * ((100vw - 320px) / (1300 - 320)));
	}
}
