html {
	font-size: 62.5%;
}

body {
	background: $white;
}

.wrapper {
	max-width: 1400px;
	width: 85%;
	height: 100vh;
	margin: 0 auto;

	@include mediaQ(aboveLandscapePhone) {
		width: 80%;
	}

	@include mediaQ(aboveTabletLandscape) {
		width: 70%;
	}
}

body {
	font-family: $baseFont;
	position: relative;
}

a {
	color: $darkBlue;
	text-decoration: none;
	&:hover,
	&:focus,
	&:visited {
		color: $lightBlue;
	}
}

.formImage {
	@include mediaQ(aboveLandscapePhone) {
		margin-bottom: 5%;
		@include flexbox;
	}
}

.mountainImage {
	display: none;

	@include mediaQ(aboveLandscapePhone) {
		display: block;
		object-fit: cover;
		width: 30%;
	}
}
