html {
	font-size: 62.5%;
}

.wrapper {
	max-width: 1400px;
	width: 85%;
	height: 100vh;
	margin: 0 auto;
}

body {
	font-family: $baseFont;
	position: relative;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
