html {
	font-size: 62.5%;
}

.wrapper {
	max-width: 1400px;
	width: 85%;
	height: 100vh;
	margin: 0 auto;

	@include mediaQ(aboveLandscapePhone) {
		width: 80%;
	}

	@include mediaQ(aboveTabletLandscape) {
		width: 70%;
	}
}

body {
	font-family: $baseFont;
	position: relative;
}

a {
	color: $darkBlue;
	text-decoration: none;
	&:hover,
	&:focus {
		color: $lightBlue;
	}
}

main {
	display: flex;
	flex-wrap: wrap;
}

.mountainImage {
	display: none;

	@include mediaQ(aboveLandscapePhone) {
		display: block;
		object-fit: cover;
		width: 30%;
	}
}
