header {
	h1,
	h2 {
		@include linearGradient(120deg);
		background-clip: text;
		color: transparent;
		font-family: $headingFont;
		text-transform: lowercase;
		letter-spacing: 1.5px;
		font-size: calc(4rem + (72 - 40) * ((100vw - 320px) / (1300 - 320)));
        line-height: 1;
        text-align: right;
	}
	h1 {
        margin-top: 10%;
		margin-bottom: 0;
		position: relative;
	}
	h2 {
		margin-top: 0%;
		font-weight: 400;
		font-size: calc(2.8rem + (54 - 28) * ((100vw - 320px) / (1300 - 320)));
        position: relative;
        line-height: 1.2;
	}
}